<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamnova.jaepark.travelmate">

    <!-- 인터넷퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 외부저장소 권한설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 카메라 하드웨어 사용 권한 설정 -->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity android:name=".activities.Signin.registerActivity" />
        <activity android:name=".activities.Signin.TermsActivity" />
        <activity
            android:name=".activities.MenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.TravelMenu.CreateTravel"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.teamnova.jaepark.travelmate.activities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.travelFilter.ConditionFilterActivity" />
        <activity android:name=".activities.EditInfoActivity" />
        <activity android:name=".activities.TravelMenu.TravelDetailActivity" />
        <activity
            android:name=".activities.TravelMenu.EditTravel"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--<activity android:name=".activities.Chat.TestActivity00" />-->
        <activity android:name=".activities.Chat.ChatRoomActivity"></activity>
    </application>

</manifest>